.flexivel{
    display:flex;
    flex-wrap: wrap;
}
.bloco{
    background-color:  rgb(134, 209, 228);
    padding: 10pt;
    flex: 1 1 300px;
    margin: 5px;
    padding: 5px;
    min-width: 99px;
    border-radius: 5pt;
    transition: 1s;
}
h3, p{ text-align: center;}
.bloco:hover{
    flex: 1 1 500px;
    background-color:  rgb(96, 156, 184);
    transition: 1s;
}