#navegacao{
    width: 100%;
    background-color: rgb(241, 214, 176);
}
*{
    margin: 0;
    padding: 0;
}
#navegacao{
    width: 100%;
    background-color: rgb(249, 250, 215);
    display: inline-flex;
}
.menu{
    background-color: rgb(134, 209, 228);
    padding: 10pt;
    margin: 10pt;
    transition: 1s;
    text-transform: uppercase;
    color: black;
    font-family: sans-serif;
    display: inline-flex;
}
.menu:hover{
    background-color: rgb(96, 156, 184);
    color: white;
    transition: 1s;
    border-radius: 5pt;
}